Source: u-dma-buf
Section: kmod
Priority: optional
Maintainer: ikwzm <ichiro_k@ca2.so-net.ne.jp>
Build-Depends: debhelper (>= 9), bzip2
Standards-Version: 3.9.6
Homepage: <https://github.com/ikwzm/u-dma-buf-kmod-dpkg>

Package: u-dma-buf-${KERNEL_RELEASE}
Architecture: any
Provides: u-dma-buf-kernel-module
Depends: ${shlibs:Depends}, ${misc:Depends}, ${KERNEL_IMAGE_PACKAGE}
Description: u-dma-buf(User space mappable DMA Buffer) Device Driver.
