#!/usr/bin/make -f
# -*- makefile -*-

package_list    = u-dma-buf u-dma-buf-mgr
kernel_release ?= $(shell uname -r)
arch           ?= $(shell uname -m | sed -e s/arm.*/arm/ -e s/aarch64.*/arm64/)
deb_arch       ?= $(shell dpkg --print-architecture)
kernel_src_dir ?= /lib/modules/$(kernel_release)/build

clean:
	rm -f build
	$(MAKE) arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) clean
	rm -rf debian/tmp debian/control debian/*~ debian/files* debian/substvars

build:
	$(MAKE) arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) all
	touch build

binary-indep: build

control: debian/control.template
	sed -e "s/\$${KERNEL_RELEASE}/${kernel_release}/g" debian/control.template > debian/control


binary-arch: control build $(package_list)

binary: binary-indep binary-arch

define PACKAGE_RELEASE_NAME
$(addsuffix -${kernel_release},$(1))
endef

define PACKAGE_BINARY
$(1) : control build
	rm     -rf debian/tmp/$(2)
	install -d debian/tmp/$(2)/DEBIAN 
	install -d debian/tmp/$(2)/usr/share/doc/$(2)
	$(MAKE) prefix=$(CURDIR)/debian/tmp/$(2) arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) install-$(1)
	cp -a debian/copyright  debian/tmp/$(2)/usr/share/doc/$(2)
	cp -a debian/changelog  debian/tmp/$(2)/usr/share/doc/$(2)/changelog.Debian
	cp -a ChangeLog         debian/tmp/$(2)/usr/share/doc/$(2)/changelog
	cd debian/tmp/$(2)/usr/share/doc/$(2)/ && gzip -9 changelog changelog.Debian
	dpkg-gencontrol -DArchitecture=$(deb_arch) -p$(2) -Pdebian/tmp/$(2)
	cp -a debian/postinst   debian/tmp/$(2)/DEBIAN 
	cp -a debian/prerm      debian/tmp/$(2)/DEBIAN 
	cp -a debian/postrm     debian/tmp/$(2)/DEBIAN 
	chown -R root:root      debian/tmp/$(2)/DEBIAN 
	chmod u+w,go=rX         debian/tmp/$(2)/DEBIAN
	dpkg-deb --build debian/tmp/$(2) ..
endef

$(foreach package,$(package_list),\
    $(eval $(call PACKAGE_BINARY,$(package),$(call PACKAGE_RELEASE_NAME,$(package))))\
)
