#!/usr/bin/make -f
# -*- makefile -*-

package        = u-dma-buf
kernel_release ?= $(shell uname -r)
arch           ?= $(shell uname -m | sed -e s/arm.*/arm/ -e s/aarch64.*/arm64/)
deb_arch       ?= $(shell dpkg --print-architecture)
kernel_src_dir ?= /lib/modules/$(kernel_release)/build
kernel_package ?= linux-image-$(kernel_release)
doc_dir         = debian/tmp/usr/share/doc/$(package)-$(kernel_release)

clean:
	rm -f build
	$(MAKE) arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) clean
	rm -rf debian/tmp debian/control debian/*~ debian/files* debian/substvars

build:
	$(MAKE) arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) all
	touch build

binary-indep: build

control: debian/control.template
	sed -e "s/\$${KERNEL_RELEASE}/${kernel_release}/g" \
	    -e "s/\$${KERNEL_IMAGE_PACKAGE}/${kernel_package}/g" \
	    debian/control.template > debian/control

binary: binary-indep binary-arch

binary-arch: control build
	rm     -rf debian/tmp
	install -d debian/tmp/DEBIAN 
	install -d $(doc_dir)
	$(MAKE) prefix=$(CURDIR)/debian/tmp arch=$(arch) kernel_release=$(kernel_release) kernel_src_dir=$(kernel_src_dir) install
	cp -a debian/copyright  $(doc_dir)
	cp -a debian/changelog  $(doc_dir)/changelog.Debian
	cp -a ChangeLog         $(doc_dir)/changelog
	cd $(doc_dir) && gzip -9 changelog changelog.Debian
	dpkg-gencontrol -DArchitecture=$(deb_arch)
	cp -a debian/postinst   debian/tmp/DEBIAN 
	cp -a debian/prerm      debian/tmp/DEBIAN 
	cp -a debian/postrm     debian/tmp/DEBIAN 
	chown -R root:root      debian/tmp/DEBIAN 
	chmod u+w,go=rX         debian/tmp/DEBIAN
	dpkg-deb --build debian/tmp ..

